{% extends 'AppCoder/padre.html' %}

{% block titulo %}
Cursos
{% endblock %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
                <h1>Cursos</h1>
                {% if formuario_curso.errors %}
                <p style="color: red;">Los datos están mal. Por favor reviselos.</p>
                {% endif %}
                
                <h4>Cursos activos:</h4>
                {% for curso in mis_cursos %}
                {{ curso.camada }}: {{ curso.nombre }} <br>
                {% endfor %}
                <hr>

                {% if nuevo_curso %}

                <p>Se agregó satisfactoriamente la camada {{ nuevo_curso.camada }} ({{ nuevo_curso.nombre }})</p>
                <hr>

                {% endif %}

                <form action="{% url 'cursos' %}" method="POST">
                {% csrf_token %}
                    
                    <table>
                        {{ formulario_curso.as_table }}
                    </table>

                    <input type="submit" value="Agregar Curso">

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}